node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
out/
.shadow-cljs/
.nrepl-port
pom.xml
.idea/
*.iml
app
result
.cpcache
/web-build
.calva/output-window/
.DS_Store
dist-newstyle/

app/
.clj-kondo/taoensso
.lsp/.cache
.clj-kondo/.cache
.lsp/sqlite.db
nativewind-output.js
.storybook/
